In [1]:
# 데이터 베이스에 접속
import pandas as pd
import sqlalchemy
engine = sqlalchemy.create_engine('sqlite:///sample.db')

In [3]:
# 쿼리를 실행해서 데이터 프레임으로 변환
query = '''
    SELECT substr(time, 1, 10) time, count(*) count
    FROM access_log
    WHERE time BETWEEN '1995-07-01' AND '1995-07-04'
    GROUP BY 1 ORDER BY 1
'''
pd.read_sql(query, engine)

         time  count
0  1995-07-01  64714
1  1995-07-02  60264
2  1995-07-03  89584

## sqlite 쿼리문
CREATE TABLE acess_log (
    time timestamp,
    request text,
    status bigint,
    bytes bigint
);

- .separator ,
- .import access_log.csv access_log